In [7]:
import pandas as pd


df = pd.read_csv('LaLiga_Matches.csv', delimiter=',', encoding='utf-8')

df.head(5)

    Season        Date    HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR
0  1995-96  02-09-1995   La Coruna    Valencia     3     0   H   2.0   0.0   H
1  1995-96  02-09-1995    Sp Gijon    Albacete     3     0   H   3.0   0.0   H
2  1995-96  03-09-1995  Ath Bilbao   Santander     4     0   H   2.0   0.0   H
3  1995-96  03-09-1995  Ath Madrid    Sociedad     4     1   H   1.0   1.0   D
4  1995-96  03-09-1995       Celta  Compostela     0     1   A   0.0   0.0   D